<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create recipe</title>
</head>
<body>
<form action="#" th:action="@{/recipes/add}" method="post" th:object="${recipe_model}">
    <input type="text" th:field="*{recipe_name}" placeholder="Название" required>
    <div th:if="${#fields.hasErrors('recipe_name')}" style="color:red;">
        <span th:errors="*{recipe_name}"></span>
    </div>

    <input type="text" th:field="*{recipe_description}" placeholder="Описание" required>
    <div th:if="${#fields.hasErrors('recipe_description')}" style="color:red;">
        <span th:errors="*{recipe_description}"></span>
    </div>

    <select th:field="*{user}" required>
        <option th:each="userV : ${allowedUsers}"
                th:value="${userV.id}"
                th:text="${userV.id} + ' - ' + ${userV.login} + ' - ' + ${userV.nickname}"></option>

    </select>

    <select th:field="*{filters}" multiple="multiple">
        <option th:each="filter : ${allowed_filters}"
                th:value="${filter.id}"
                th:text="'Name(en) - ' + ${filter.name.en} + '; Name(ru) - ' + ${filter.name.ru}"></option>

    </select>
    <button type="submit">Add recipe</button>
</form>
</body>
</html>