<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Recipe`s ingredients</title>
</head>
<body>
<h1>Ingredients list</h1>
<form action="/ingredients/add" method="post">
    <select name="recipe_id" th:value="${selected_recipe}" required>
        <option th:each="recipe : ${allowed_recipes.value}"
                th:value="${recipe.id}"
                th:text="${recipe.recipe_name} + ' - ' + ${recipe.recipe_description}"></option>
    </select>
    <input type="text" name="name_eng" placeholder="Название (англ)" required>
    <input type="text" name="name_ru" placeholder="Название (русск)" required>
    <input type="number" name="amount" placeholder="Количество" required>
    <select name="measure" required>
        <option th:each="measure : ${measures}"
                th:value="${measure}"
                th:text="${measure.displayName}"></option>
    </select>
    <button type="submit">Add ingredient</button>
</form>

<h2>Ingredients:</h2>
<form action="/ingredients" method="get">
    <label>
        Nickname:
        <input type="text" name="name" th:value="${searched_name}">
    </label>
    <br>
    <label>
        Measure:
        <select name="measure" th:value="${selected_measure}">
            <option th:each="measure : ${measures}"
                    th:value="${measure}"
                    th:text="${measure.displayName}"></option>

        </select>
    </label>
    <select name="recipe_id" th:value="${selected_recipe}" required>
        <option th:each="recipe : ${allowed_recipes.value}"
                th:value="${recipe.id}"
                th:text="${recipe.recipe_name} + ' - ' + ${recipe.recipe_description}"></option>
    </select>
    <br>
    <label>
        Show deleted:
        <input type="checkbox" name="show_deleted" value="true">
    </label>
    <button type="submit">Search</button>
</form>

<br>
<br>
<ul>
    <th:block th:each="ingredient : ${ingredients.value}">
        <li>
            <span></span>
            <form action="/ingredients/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${ingredient.id}"/>
                <input type="hidden" name="recipe_id" th:value="${ingredient.recipe_ID}"/>
                <input type="text" name="name_eng" th:value="${ingredient.name.en}" placeholder="Название (англ)" required>
                <input type="text" name="name_ru" th:value="${ingredient.name.ru}" placeholder="Название (русск)" required>
                <input type="number" name="amount" th:value="${ingredient.amount}" placeholder="Псевдоним" required>
                <select name="measure" required  th:value="${ingredient.measureType}">
                    <option th:each="measure : ${measures}"
                            th:value="${measure}"
                            th:text="${measure.displayName}"></option>
                </select>
                <button type="submit">Обновить</button>
            </form>
            <form action="/ingredients/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${ingredient.id}"/>
                <button type="submit">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>
